@charset "UTF-8";

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-SemiBold.eot');
    src: url('Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Pretendard-SemiBold.woff2') format('woff2'),
        url('Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Regular.eot');
    src: url('Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('Pretendard-Regular.woff2') format('woff2'),
        url('Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Medium.eot');
    src: url('Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('Pretendard-Medium.woff2') format('woff2'),
        url('Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    line-height: 1;
    color: #333;
}

#fullpage {
    max-width: 1920px;
    width: calc(100% - 30px);
    margin: 0 auto;
    font-family: 'Pretendard';
}

.bg {
    position: relative;
    margin: 0 auto;
}

.bg::before {
    content: '';
    width: 1920px;
    height: 106%;
    background: rgb(94,94,94);
background: linear-gradient(180deg, rgba(94,94,94,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 40px 40px 0 0;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

}


#section0 .inner {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section0 .inner .logo {
    color: #025ADF;
    font-size: 30px;
}


#section0 .inner .nav .gnb {
    display: flex;
    gap: 30px;
}

#section0 .inner .nav .gnb li a{
     display: block;
     padding: 15px ;
     background-color: #dddddd48;
     backdrop-filter: blur(15px);
     border-radius: 50px;
}

#section0 .visaul {
    height: 500px;
    font-size: 100px;
    position: relative;
}

#section0 .visaul::before {
    content: '';
    width: 630px;
    height: 180px;
    background: url('../img/line.png') center center / 100% no-repeat; 
    position: absolute;
    top: 35px;
    right: 40%;
    z-index: -1;
}

#section0 .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}



#section0 .visaul h2 {
    margin-top: 185px;
}


#slide1 {
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

#slide1 .intro {
    width: 40%;
}

#slide1 .intro h2 {
    font-size: 50px;
}

#slide1 .intro p {
    font-size: 45px;
    margin-top: 40px;
}

#slide1 .info-list {
    margin-top: 95px;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    position: relative;
}

#slide1 .info-list .info {
    margin-top: 50px;
    width: 40%;
    display: flex;
    column-gap: 60px;
    
}

#slide1 .info-list .info h4 {
    margin-bottom: 15px;
    font-size: 20px;
}

#slide1 .info-list .info ul li{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
}

#slide1 .info-list .info ul li span {
    display: block;
    margin-top: 5px;
    color: #8f8f8f;
}

#slide1 .info-list .info:nth-child(3) ul {
    display: flex;
    gap: 20px;
}

#slide1 .info-list .info:nth-child(4) {
    position: absolute;
    top: 150px;
    right: 150px;
}

#slide2 {
    color: #fff;
}

#slide2 h2 {
    font-size: 50px;
}

#slide2 .project-wrap {
    margin-top: 50px;
    
}

#slide2 .project {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;

}

#slide2 .project .box {
    width: 790px;
    height: 614px;
    border: 1px solid #ddd ;
    padding: 70px 40px;
    border-radius: 25px 0 0 25px;

}

#slide2 .project:nth-child(2) .box {
    width: 730px;
    border-radius: 0 25px 25px 0;
}

#slide2 .project:nth-child(3) .box {
    width: 560px;
}

#slide2 .project .box p {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #025ADF;
}

#slide2 .project .box h3 {
    font-size:70px;
    font-weight: 600;
    padding-bottom: 18px;
}
#slide2 .project .box span {
    display: block;
    font-size: 30px;
   line-height: 1.3;
}




#slide2 .project .swiper-slide {
    width: 600px !important;
    height: 614px;
    background-color: #fff;
    color: #333;
    position: relative;
    border-radius: 25px;
    
}

#slide2 .project:nth-child(3) .swiper-slide {
    width: 630px !important;
}

#slide2 .project:nth-child(3) .swiper-slide:first-child figure {
    height: 380px;
}

#slide2 .project .swiper-slide > p {
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    background-color: #ddd;
    position: absolute;
    top: 20px;
    right: 50px;
}

#slide2 .project .swiper-slide figure {
    width: 450px;
    height: 350px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translatex(-50%);
}

#slide2 .project .swiper-slide figure img {
    width: 100%;
    height: 100%;
}

#slide2 .project .swiper-slide .txt {
    width: 80%;
    position: absolute;
    bottom: 20px;
    left: 10%;
    
}

#slide2 .project .swiper-slide .txt h4 {
    font-size: 40px;
}

#slide2 .project .swiper-slide .txt p {
    margin-top: 15px;
    font-size: 23px;
}

#slide2 .project .swiper-slide .txt ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 15px;

}


#slide2 .project .swiper-slide .txt ul li {
    padding: 15px;
    background-color: #ddd;
    border-radius: 50px;
    transition: 0.5s;
}

#slide2 .project .swiper-slide .txt ul li:first-child {
    background-color: #333;
    color: #fff;
    
}

#slide2 .project .swiper-slide .txt ul li:hover {
    background-color: #025ADF;
    color: #fff;
}

#slide2 .swiper-button-prev::after,
#slide2 .swiper-button-next::after {
    display: none;
}





#slide3 {
    color: #fff;
    margin: 150px auto 0;
}

#slide3 h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

#slide3 .swiper-slide {
    width: 100%;
    height: 600px;
    display: flex;


}
#slide3 .swiper-slide  figure{
    width: 500px;
    height: 500px;
}
#slide3 .swiper-slide  figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}


.swiper-horizontal>.swiper-pagination-bullets,
 .swiper-pagination-bullets.swiper-pagination-horizontal,
 .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 50px;
 }


 .swiper-pagination-bullet-active {
    background-color: #025ADF;
    width: 15px;
    border-radius: 50px;

 }

 .swiper-pagination-bullet {
    background-color: #ddd;
 }


 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0,0.9);
 }

 .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
 }

 .close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
 }

 .close:hover,
 .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
 } 




 #section2{
    color: #fff;
    margin: 0 auto;
   
 }

 #section2 h3 {
    font-size: 120px;
 }

 #section2 .myinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 20px;
    font-weight: normal;
    margin-top: 60px;
 }

 #section2 .myinfo ul li:first-child {
    font-size: 50px ;
    font-weight: 600;
    margin-bottom: 15px;
 }

 #section2 .myinfo ul li:nth-child(2) {
    font-size: 30px;
    margin-bottom: 15px;
 }

 #section2 .myinfo ul li:nth-child(3) {
    font-size: 28px;
    margin-bottom: 15px;
    margin-left: 30px;
    position: relative;
 }
 #section2 .myinfo ul li:nth-child(4) {
    font-size: 28px;
    margin-left: 30px;
    position: relative;
 }

 #section2 .myinfo ul li:nth-child(3)::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/icon/Iconex/Light/Call.svg') center center / 100% no-repeat;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
 }

 #section2 .myinfo ul li:nth-child(4)::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/icon/Iconex/Light/Mail.svg') center center / 100% no-repeat;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
 }

 #section2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50px;
    border: 1px solid #fff;
    background-color: #000;
    border-radius: 50px;
    color: #fff;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
   transition: 0.5s;
 }

 #section2 a:hover {
    background-color: #025ADF;
    border: 0;
 }


 #section2 .txt{
    position: absolute;
    bottom: -3.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
 }